footer {
    padding: 10px;
    background-color: #EBDED5;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: auto 0 0;
}

#print-button {
    cursor: pointer;
    width: fit-content;
    background-color: #6B6561; /* Green */
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}